@charset "utf-8";

.is-max-960 {
  max-width: 960px;
}

.is-margin-center {
  margin: 0 auto;
}

@import "~bulma/bulma.sass";
@import "~bulma-extensions/bulma-timeline/src/sass/index.sass";

html.has-navbar-fixed-top,
body.has-navbar-fixed-top {
  padding-top: 5.25rem;
}

.container {
  &.is-desktop {
    max-width: 960px;
  }
}
