@charset "utf-8";

@import url("https://fonts.googleapis.com/css?family=Noto+Serif|Noto+Serif+KR&display=swap");

.font-family-serif {
  font-family: "Noto Serif KR", "Noto Serif KR", serif;
}

.is-max-960 {
  max-width: 960px;
}

.is-margin-center {
  margin: 0 auto;
}

@import "~bulma/bulma.sass";
@import "~bulma-extensions/bulma-timeline/src/sass/index.sass";

$navbar-height: 5.25rem;
$desktop-min-width: 960px;

@media (min-height: 100px) {
  .is-sticky {
    position: sticky;
    top: $navbar-height - 2rem;
    bottom: 0px;
    max-height: 90vh;
    overflow-y: auto;
    display: flex;
    justify-content: flex-end;
  }
}

.container {
  &.is-desktop {
    max-width: $desktop-min-width;
  }
  &.is-tablet {
    max-width: $tablet;
  }
}

@media screen and (min-width: $desktop) {
  html.has-navbar-fixed-top,
  body.has-navbar-fixed-top {
    padding-top: $navbar-height;
  }
}

@media screen and (max-width: $desktop) {
  .is-sticky {
    display: none;
  }
  .columns {
    > .column {
      &.is-padding {
        display: none;
      }
    }
  }
}
